
{% load wagtailimages_tags %}

{% image self.background fill-1200x400-c100 as category_background%}

<div class="relative flex flex-col items-center justify-center category-title-block">
    <img src="{{category_background.url}}" class="object-cover">
    <h2 class="text-3xl absolute text-white font-bold">{{self.title}}</h2>
</div>


<div class="flex category-dish-container flex-wrap justify-around flex-start px-10">
    {% for dish in self.dishes %}
        <div class="category-dish flex no-wrap shadow-md items-center px-5 py-3 relative mt-10 ">
            {% image dish.image fill-256x256-c100 as dish_image%}
            <img src="{{dish_image.url}}" class="flex-none rounded-lg" alt="">
            <div class="h-full pt-2 px-2">
                <h3 class="font-semibold title">{{dish.title}}</h3>
                <p class="description">{{dish.description}}</p>
                <span class="font-semibold ingredients">{{dish.ingredients}}</span>
                <span class="absolute price font-bold">{{dish.currency}}{{dish.price}}</span>
            </div>
        </div>
    {% endfor %}
</div>